
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-bak
*-bak*
*_autosave-*
~*.kicad_pcb
~*.kicad_sch
~*

*.tmp
*.lock
*.lck
*.lck-bak
~*.lck
__pycache__/
\#auto_saved_files\#

*-cache*
fp-info-cache
sym-lib-table
fp-lib-table

*.kicad_prl

*.xml
*.csv
*.net
*.dsn
*.ses

**/*-backups/
**/*-backups/*.zip
macropad-backups/

.venv/
.env/

